---
import SocialLinksCard from "@/components/Card/SocialCard.tsx";
import Header from "@/components/Header/Header.astro";
import LongContent from "@/components/react/Long.tsx";
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <h2 class="text-2xl p-4 font-bold">Social</h2>
  <SocialLinksCard />
  <LongContent />
</Layout>
