---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="min-h-screen bg-gray-100">
    <main class="container sm:w-2/3 lg:w-[38.2vw] mx-auto px-4 pt-24">
      <slot />
    </main>
  </body>
</html>
