---
import "@/styles/global.css";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title="Homepage"
      titleTemplate="%s | rmuraix"
      titleDefault="rmuraix"
      description="rmuraix's Portfolio. A collection of projects."
      charset="utf-8"
      openGraph={{
        basic: {
          title: "rmuraix's Portfolio",
          type: "website",
          image: `${Astro.url}og-image.jpg`,
        },
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="min-h-screen bg-gray-100">
    <main class="container sm:w-2/3 lg:w-[38.2vw] mx-auto px-4 pt-24">
      <slot />
    </main>
  </body>
</html>
